QMainWindow {
    background-color: black;
}

QPushButton {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    padding: 6px;
    font-family: Fixedsys;
}

QPushButton {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    padding: 6px;
    font-family: Fixedsys;
}

QComboBox {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    padding: 6px;
    font-family: Fixedsys;
}

QPushButton:hover {
    background-color: #111111;
}

QPushButton:pressed {
    background-color: #222222;
}